@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

* {
  box-sizing: border-box;
}

body {
  margin = 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: #8A2BE2;
}

/* header
************************* */
header {
  /* position: absolute; */
  margin: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
}

nav a {
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .5em;
  color: #DDD;
}

nav a:hover,
nav a:focus {
  color: #DDD;
}

.home-1 {
  padding: 10em 0;
  color: #FFF8DC
}
